header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.school-logo {
  max-height: 80px;
  margin-right: 15px;
}

.bagong-pilipinas-logo {
  max-height: 80px;
  margin-left: 15px;
}

.school-name {
  font-size: 2em;
  color: #006837;
  margin: 0;
}

hr {
  border: 1px solid #006837;
  margin-top: 20px;
}

.graduation-song-container {
  text-align: center;
  background-color: #006837;
  color: white;
  padding: 15px;
}

.graduation-song {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: sans-serif;
}

.song {
  width: 45%;
  text-align: center;
}

.song-title {
  color: #4caf50;
  margin-bottom: 15px;
}

.song p {
  text-align: left;
}

/* Media Query for smaller screens (e.g., tablets and below) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .school-logo,
  .bagong-pilipinas-logo {
    margin: 10px 0;
  }

  .school-name {
    font-size: 1.5em;
  }

  .graduation-song {
    flex-direction: column; /* Stack songs vertically */
    align-items: center; /* Center the songs horizontally */
  }

  .song {
    width: 90%; /* Adjust width as needed */
    margin-bottom: 20px; /* Add space between songs */
  }
}
