header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.school-logo {
  max-height: 80px;
  margin-right: 15px;
}

.bagong-pilipinas-logo {
  max-height: 80px;
  margin-left: 15px;
}

.school-name {
  font-size: 2em;
  color: #006837;
  margin: 0;
}

hr {
  border: 1px solid #006837;
  margin-top: 20px;
}

.location-container {
  text-align: center;
  background-color: #006837;
  color: white;
  padding: 15px;
}

.maps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.map-coordinates {
  text-align: center;
  margin-top: 15px;
}

/* Media Query for smaller screens (e.g., tablets and below) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack logos and name vertically */
  }

  .school-logo,
  .bagong-pilipinas-logo {
    margin: 10px 0; /* Adjust margins for vertical stacking */
  }

  .school-name {
    font-size: 1.5em; /* Reduce font size */
  }

  .maps-container {
    margin-top: 30px; /* Reduce top margin */
  }

  .map-image {
    width: 90%; /* Make the map image smaller */
    height: auto;
  }
}
