* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #004225;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* White text */
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d4d4d4; /* Light gray on hover */
}
