header {
  background-color: #fff; /* White background */
  padding: 20px;
  text-align: center; /* Center align content */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.school-logo {
  max-height: 80px;
  margin-right: 15px;
}

.bagong-pilipinas-logo {
  max-height: 80px;
  margin-left: 15px;
}

.school-name {
  font-size: 2em; /* Adjust font size as needed */
  color: #006837; /* Dark green color */
  margin: 0;
}

hr {
  border: 1px solid #006837;
  margin-top: 20px;
}

.organization-container {
  text-align: center;
  background-color: #006837;
  color: white;
  padding: 15px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.organization-member {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px;
  padding: 20px;
}

.box {
  background-color: #4caf50; /* Green background */
  color: white;
  border: 2px solid darkgreen;
  padding: 20px;
  text-align: center;
}

.box h2 {
  margin-bottom: 10px; /* Space below the heading */
}

.box hr {
  border: 1px solid white; /* White horizontal line */
  margin-bottom: 15px; /* Space below the line */
}
